<h1>Total Amount</h1>

<ul>
  {{#each records}}
  <li>
    <div class="{{ this.icon }}"></div>{{ this.name }}{{ this.date }}{{ this.amount }}
  </li>
  {{/each}}
</ul>

<a href="./records/new">Create</a>