<form action="/records" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="date" name="date">
  <input type="text" placeholder="category" name="category">
  <input type="text" placeholder="amount" name="amount">
  <input type="text" placeholder="icon" name="icon">
  <button type="submit">Create</button>
</form>